@use './variables.scss' as *;
@use './mixins.scss' as *;

.about {
  margin: 2rem 0.5rem;

  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0.5rem;

    h2 {
      background: var(--logo);
      padding: 0.8rem;
      border-radius: 0.5rem;
      color: var(--white);
    }

    .skill {
      gap: 1rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  @media (max-width: 768px) {
    .skills {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 480px) {
    .skills {
      grid-template-columns: 1fr;
    }
  }
}