.dark {
    --bg: #121212;
    --primary:#BB86FC;
    --text: #fff;
    --logo: #FF0266;
    --error:#CF6679;
    
    --bgSec: #000000;
    --purpleSec:#3700B3;
    --secondary: #03DAC5;
}

.light {
    --bg: #fff;
    --primary:#6200EE;
    --text: #000000;
    --logo: #FE7496;
    --secondaryVar: #018786;
    --error:#B00020;
    
    --bgSec: #000;
    --secondary: #03DAC5;
    --purpleSec:#3700B3;

}
