@use './variables.scss' as *;
@use './mixins.scss' as *;



.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--background);
  color: var(--text);
  text-align: center;
  padding: 1rem;

  .socials {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      color: var(--primary);
      transition: $transition;

      &:hover {
        color: var(--accent);
      }
    }
  }
}
