@use './variables.scss' as *;
@use './mixins.scss' as *;

body {
  margin: 0;
  font-family: 'robot', sans-serif;
  max-width: 100vw;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 70px;   /* height of navbar */
  padding-bottom: 60px; /* height of footer */
}


.container {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

section{
  background-color: var(--secondary_background);
  width: 100%;
  min-height: 60vh;
  max-height: 100vh;
}


.slider-container {
  width: 100%;
  overflow: hidden; // hides overflow
}

.slider-track {
  display: flex;
  gap: 1rem;
  animation: slide 10s linear infinite;
}

.card {
  flex: 0 0 auto; // prevents shrinking
  width: 200px;
  height: 200px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rotate-img {
  display: inline-block;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-img {
  animation: drop 3s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

.popup {
  animation: popup 0.5s ease forwards;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }}

  .jump-img {
  display: inline-block;
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px); /* jump up */
  }
  50% {
    transform: translateY(0);     /* back down */
  }
  70% {
    transform: translateY(-10px); /* small bounce */
  }
  100% {
    transform: translateY(0);
  }
}