@use './variables.scss' as *;
@use './mixins.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 3rem;
    color: var(--dark);
  }

  p {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
