@use './variables.scss' as *;
@use './mixins.scss' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
 width: 100%; 
  // min-width: 95vw;  // full width
  background: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:  1rem 0;
  z-index: 1000;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--logo);
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: var(--primary);
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      transition: $transition;
      letter-spacing: 1.5px;

      &:hover {
        color: var(--accent);
      }
    }

    // &.open {
    //   display: flex;
    //   flex-direction: column;
    //   margin-top: 1rem;
    // }
  }

  .menu {
    display: none;
    cursor: pointer;

    .menu-icon {
      font-size: 2rem;
      color: var(--primary);
    }
  }

  .nav-btn {
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    background: var(--secondary);

    button {
      width: 100%;
      background: transparent;
      font-weight: 600;
      color: var(--background);
      border: none;
    }

    &:hover {
      background: var(--varient);
    }
  }

  @media (max-width: 768px) {
    justify-content: start;
    max-width: 100vw;
    padding: 0.7rem 0rem;
    max-height: 2rem;
    // position: relative;
    .logo{
      padding: 0 10px;
    }
    .nav-links {
      display: none;
    }

    .nav-links.open {
      display: flex;
      gap: 0;
      flex-direction: column;
      top: 1.3rem;
      position: absolute;
      right: 0;
      background-color: var(--background);
      padding: 0.5rem 1rem;
      width: 7rem;

      a{
          margin-top: 2rem;
          font-size: 0.9rem;
      }
    }
    .nav-btn{
      left: 18rem;
      position: absolute;
    }

    .menu {
      display: block;
      position: absolute;
      right: 10px;
    }
  }
}

